<%# <div class="app-path-container"></div> %>
<div class="bounding-container">
    <div class="page-title">About</div>
    <div class="slogan-statement-container">
        <div class="slogan-container">
            READ.WRITE.CONNECT
        </div>
        <div class="statement-container">
            Write articles and share your stories with anyone at anytime.
            Post comments and tell others what you think. 
            Be in control of the content you post.
        </div>
    </div>

    <div class="app-info-container">
        <div class="app-info-item">
            <div class="app-info-item-value"><%= Comment.all.count %></div>
            <div class="app-info-item-title">Comments</div>
        </div>
        <div class="app-info-item">
            <div class="app-info-item-value"><%= Article.all.count %></div>
            <div class="app-info-item-title">Articles</div>
        </div>
        <div class="app-info-item">
            <div class="app-info-item-value"><%= User.all.count %></div>
            <div class="app-info-item-title">Users</div>
        </div>
    </div>

    <div class="socials-section"> 
        <div class="follow-me-title">
            Follow this project
        </div>
        <div class="footer-content-3 about-social-icons">
            <a href="https://github.com/MarMil1/marmilblog"><i class="fab fa-github"></i></a>
            <%# <a href="https://www.linkedin.com/in/marko-milosavljevic/"><i class="fab fa-linkedin"></i></a>
            <a href="https://codepen.io/marmil1"><i class="fab fa-codepen"></i></a> %>
        </div>
    </div>

    <div class="about-promo-section">  
        <div class="about-promo-item">
            <div class="promo-item-title">
                Sign Up
            </div>
            <div class="promo-item-content">
                Sign up and gain access to connect with other users 
                through their stories and through their comments.
            </div>
            
        </div>
        <div class="about-promo-item">
            <div class="promo-item-title">
                Write
            </div>
            <div class="promo-item-content">
                Gain access to creating, posting your content 
                and sharing your thought and experiences.
            </div>
        </div>
        <div class="about-promo-item">
            <div class="promo-item-title">
                Content
            </div>
            <div class="promo-item-content">
                Choose what you want to write as long as you are 
                being respectful to everyone on the platform.
            </div>
        </div>
        <div class="about-promo-item">
            <div class="promo-item-title">
                Read
            </div>
            <div class="promo-item-content">
                Read about other people's journeys through their life, 
                their interests and their lessons learned.
            </div>
        </div>
        <div class="about-promo-item">
            <div class="promo-item-title">
                Comment
            </div>
            <div class="promo-item-content">
                Share a comment on to yours or other user's articles. 
                Give a feedback and an insight to what you read.
            </div>
        </div>
    </div>
    

</div>
