<div class="bounding-container">
    <div class="page-title">Contact</div>
    <div class="contact-container">
        <div>
            <p>Got questions, suggestions, or just want to say hello?</p>
            <p>We'd love to hear from you! Feel free to reach out via email at <a href="mailto:marmildev@gmail.com?subject=Contact Request - sandlass.fly.dev">marmildev@gmail.com</a> or send us a message on <a href="https://www.linkedin.com/in/marko-milosavljevic/" target="_blank">LinkedIn</a>.</p>
            <p>Our friendly staff is here to assist and engage with you.</p>
            <p>At SANDGLASS, we value your input and are dedicated to providing the best possible experience for our readers.</p>
            <p>Your feedback helps us grow and improve, ensuring that we continue to deliver valuable and compelling content.</p>
            <p>Connect with us today, and let's embark on this storytelling journey together!</p>
        </div>
        <div>
            <%= image_tag "contact-page-art.webp",
                alt: "Contact us image",
                class: "contact-us-img"               
            %>
        </div>
    </div>
</div>
