<% if @article.comments.count > 0 %>
    <%= render @article.comments.where(parent_id: nil).includes(:user).order(id: :desc) %>
<% else %>
    <div class="no-comment">
        <p><i>There are no comments for this article.</i></p>
        <p><i>Be the first to comment.</i></p>
    </div>
<% end %>

