<div class="report-section">
    <div class="share-section">
        <div class="dropdown-more-section" style="float:left;">
            <div class="dropbtn-more-section">
                <i class="fas fa-share-alt"></i>
            </div>
            <div class="dropdown-content-more-section">
                <a id="copyArticleLink" onclick="copyArticleLink()">Copy article link</a>
            </div>
        </div>
    </div>
    <div class="archive-section">
        <i class="far fa-bookmark"></i>
    </div>
    <div class="more-section">
        <div class="dropdown-more-section" style="float:left;">
            <div class="dropbtn-more-section"><i class="fas fa-ellipsis-h"></i></div>
            <div class="dropdown-content-more-section">
                <% if current_user?(@article.user) %>
                    <%= link_to "Edit this article", 
                        edit_article_path(@article),
                        class: "edit-article" 
                    %>
                    <%= button_to "Delete this article", 
                        article_path(@article), 
                        method: :delete, 
                        data: { confirm: "Are you sure?" },
                        class: "delete-article" 
                    %>
                <% else %>
                    <a class="dropdown-item">Report this article</a>
                    <a class="dropdown-item">Block this author</a>
                <% end %>
            </div>
        </div>
    </div>
</div>

<script>
    function copyArticleLink() {
        const copyBtn = document.querySelectorAll('#copyArticleLink');
        const input = document.body.appendChild(document.createElement("input"));
        
        // Get the link from browser
        const link = navigator.clipboard.writeText(window.location.href);
        input.value = link;
        input.select();
        document.execCommand('copy');
        input.parentNode.removeChild(input);
        copyBtn.forEach(element => {
            element.innerHTML = "Copied";
            element.style.backgroundColor = "#a4ffa4a6";
        });

        // Switch between copied and hide copy link button
        setTimeout(function() {
            copyBtn.forEach(element => {
                element.innerHTML = "Copy article link";
                element.style.backgroundColor = "";
            })
        }, 1500);
    }
</script>