<div class="app-path-container"><%= render_breadcrumbs :separator => '&nbsp;&nbsp;>&nbsp;&nbsp;' %></div>
<div class="bounding-container">
  <% provide(:title, @user.username) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user-info">
        <div data-profile-initial=<%= @user.username[0].capitalize %>></div>
        <h1 class="user-name-profile">
          <%= @user.username %>
        </h1>
      </section>
    </aside>
  </div>
</div>