<div class="bounding-container">
  <%= render 'layouts/back_btn' %>
  <div class="page-title">Profile</div>
  <% provide(:title, @user.username) %>
  <div class="user-profile-container">
    
    <div class="user-profile-logo-name">
      <div data-profile-initial=<%= @user.username[0].capitalize %>></div>
      <div class="user-profile-name-member-since">
        <h1 class="user-profile-name">
          <%= @user.username %>
        </h1>
        <div class="user-profile-member-since">
          Member since <%= Time.at(*@user.created_at.to_i).to_s(:long_ordinal)[0..-6]%>
        </div>
      </div>
    </div>

    <div class="user-profile-content">
    </div>

  </div>
</div>