<div class="bounding-container">
    <div class="page-title">Error</div>
    <div class="error-page-code">
        500
    </div>
    <div class="error-page-message">
        Looks like there is an internal server error.
    </div>
</div>