<div class="bounding-container">
    <div class="page-title">Error</div>
    <div class="error-page-code">
        404
    </div>
    <div class="error-page-message">
        Looks like this page does not exist.
    </div>
</div>
