// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Single article 

.single-article-container {
    margin-bottom: 50px;
    width: 250px;
    height: 120px;
}

.single-article-container:hover * {
    text-decoration: none;
    color: inherit;
}

.user-img-name {
    display: flex;
    align-items: center;
}

.user-name {
    margin-left: 10px;
    font-weight: bold;
    font-size: 12px;
}

.article-title {
    margin-top: 8px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.article-body {
    color: gray;
    font-size: 15px;
    overflow: hidden;
    height: 45px;
}

.article-info {
    color: gray;
    margin-top: 10px;
    font-size: 12px;
    display: flex;
}

.article-comment-like-container {
    margin-left: 10px;
}

// All articles / Index page
.all-articles {
    margin-left: 30px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "single-article-container single-article-container single-article-container single-article-container";
    grid-gap: 0.2rem;
    margin-top: 50px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1050px) { 
    .all-articles {
       grid-template-columns: 1fr 1fr;
       grid-template-areas: 
       "single-article-container single-article-container";
       display: grid;
       flex-direction: row;
       align-items: center;
       flex-wrap: wrap;
       justify-content: center;
    }
    
    .full-article-container {
        width: 90%;
        left: 5%;
        right: 0;
    }
}

@media only screen and (max-width: 768px) { 
   .all-articles {
      grid-template-columns: 1fr;
      grid-template-areas: 
      "single-article-container";
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .gallery-article-mobile {
    justify-content: space-evenly !important;
   }

   .article-body-mobile {
       display: none;
   }

   .article-info-mobile {
       flex-direction: column;
   }

   .article-comment-like-container {
    margin-left: 0;
   }

   .comment-dots-mobile {
       margin-left: 0px;
   }
}


// Full single article with body
.full-article-container {
    text-align: left;
    width: 65%;
    position: relative;
    left: 15%;
    right: 15%;
    margin-top:30px;
}

.full-article-info-settings {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;
}

.full-article-img-info {
    display: flex;
    align-items: center;
}

.full-article-user-img {
    height: 50px;
    width: 50px;
    background-color: gray;
    border-radius: 50px;
}

[data-letters]:before {
    content:attr(data-letters);
    display:inline-block;
    font-size: 30px;
    height: 50px;
    width: 50px;
    line-height:1.7em;
    text-align:center;
    border-radius:50%;
    background:gray;
    vertical-align:middle;
    color:white;
}

[data-index-initial]:before {
    content:attr(data-index-initial);
    display:inline-block;
    font-size: 12px;
    height: 22px;
    width: 22px;
    line-height:2em;
    text-align:center;
    border-radius:50%;
    background:gray;
    vertical-align:middle;
    color:white;
}

.full-article-info {
    margin-left: 10px;
}

.full-article-time {
    color: gray;
}

.full-article-settings {
    display: flex;
    align-items: center;
}


.full-article-delete {
    color: red;
    margin-left: 10px;
}

.edit-article:hover {
    text-decoration: none;
}

.delete-article:hover {
    text-decoration: none;
}

.full-article-body {
    font-size: 17px;
    overflow-wrap: break-word;
    margin-bottom: 40px;
}

.full-article-body::first-letter {
    font-size: 40px;
}

.comments-likes-report-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes-comments-section {
    display: flex;
}

.likes-section {
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.comments-section {
    font-size: 20px;
    cursor: pointer;
}

.report-section {
    display: flex;
    font-size: 20px;
}

.archive-section, .share-section {
    cursor: pointer;
    margin-right: 20px;
    font-size: 17px;
}

// more section dropdown

.more-section {
    cursor: pointer;
}

.dropbtn-more-section {
    font-size: 17px;
    cursor: pointer;
}
  
.dropdown-more-section {
    position: relative;
    display: inline-block;
}
  
.dropdown-content-more-section {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content-more-section a {
    color: gray;
    padding: 8px 6px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    text-align: center;
}

#copyArticleLink, .dropdown-item {
    color: gray !important;
}

#copyArticleLink:hover, .dropdown-item:hover {
    color: rgb(49, 71, 108) !important;
}
  
.dropdown-content-more-section a:hover {background-color: #f1f1f1;}
  
.dropdown-more-section:hover .dropdown-content-more-section {
    display: block;
}

.far:hover, .fas:hover { 
    color: rgb(0, 0, 0);
}

// Modal / Dialog box

.modal.fade .modal-bottom,
 .modal.fade .modal-left,
 .modal.fade .modal-right,
 .modal.fade .modal-top {
     position: fixed;
     z-index: 1055;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: 0;
     max-width: 100%
 }

 .modal.fade .modal-right {
    width: 400px;
    left: auto !important;
    transform: translate3d(100%, 0, 0);
    transition: transform .3s cubic-bezier(.25, .8, .25, 1)
 }

 .modal.fade.show .modal-bottom,
 .modal.fade.show .modal-left,
 .modal.fade.show .modal-right,
 .modal.fade.show .modal-top {
    transform: translate3d(0, 0, 0);
    width: 400px;
 }

 .modal-content,
 .modal-footer,
 .modal-header {
    border: none !important;
    border-radius: 0 !important;
 }

 .modal-content {
    overflow: auto;
    font-size: 15px;
    cursor: auto;
 }

 .modal-title {
     font-size: 20px;
     font-weight: bold;
 }

 .close {
    position: relative;
    bottom: 10px;
 }

 .modal-comment-form {
     text-align: start;
 }

 .h-100 {
    height: 100% !important
 }

 .btn-light {
    color: #212529;
    background-color: #f5f5f6;
    border-color: #f5f5f6
 }

 .btn-light:hover {
    color: #212529;
    background-color: #e1e1e4;
    border-color: #dadade
 }


// Article form

.article-title-area {
   margin-top: 5px;
}

.article-input-title, .article-input-body {
    border: none;
}

.article-input-title {
    font-size: 3em;
    box-shadow: lightgray 2px 2px 8px;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.article-input-body {
    font-size: 1.1em;
    display: block;
    overflow: hidden;
    resize: none;
    box-shadow: lightgray 2px 2px 8px;
    padding: 10px;
    border-radius: 5px;
}

.publish-article {
    width: 100px;
}

.publish-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cancel-publish-article {
    margin-right: 10px;
    cursor: pointer;
    color: #000000;
}

.cancel-publish-article:hover {
    color: gray;
    text-decoration: none;
}

// Landing page

.landing-page-container {
    background-color: lightgreen;
    height: 40vh;
    width: 100%;
}

.landing-page-main-slogan {
    font-size: 3vh;
    font-weight: 500;
    width: 40vw;
    position: relative;
    top: 7vh;
}

@media screen and (max-width: 510px) {
    .full-article-container {
        width: 90%;
        left: 5%;
        right: 5%;
    }
}