// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Single article 

.single-article-container {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 3px 0px lightgrey;
}

.single-article-container:hover * {
    text-decoration: none;
}

.single-article-img {
    height: 250px;
    background-color:coral;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.article-container {
    padding: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user-img-name-favorite {
    display: inline;
}

.user-img-name {
    display: flex;
    align-items: center;
    float: left;
}

.stand-alone {
    float: right;
}

.stand-alone a, .stand-alone a:hover {
    color: #333333;
}

.user-name {
    margin-left: 10px;
    font-weight: bold;
    font-size: 12px;
    color: black;
    padding: 7px;
}

.user-name:hover {
    background-color: #DDDDDD;
    border-radius: 7px;
}

.user-name > * {
    text-decoration: none;
}

.article-title {
    margin-top: 8px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.article-title-link {
    color: black;
}

.article-title-link:hover {
    color: #61799E;
}

.article-body {
    color: gray;
    font-size: 15px;
    overflow: hidden;
}

.article-info {
    color: gray;
    margin-top: 10px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.article-comment-like-container {
    margin-left: 10px;
}

.like-btn-favorite, .like-btn-favorite:hover {
    color: #333333;
}

.fa-solid.fa-thumbs-up {
    color: #61799E;
}

// All articles / Index page

.main-container {
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    left: 10%;
    right: 10%;
    margin: 50px 20px 20px 20px;
    padding-bottom: 120px;
}

@media screen and (max-width: 1200px) {
    .main-container {
        left: 0;
        right: 0;
    }
}

.hero-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
    margin-top: 55px;
}

.hero-container h1 {
    margin-top: 100px;
}

.container-item {
    margin-bottom: 50px;
}

.hero-button {
    border-radius: 5px;
    padding: 7px;
    font-weight: 500;
    font-size: 1.75rem;
    background-color: #61799E;
    border: none;
    box-shadow: 0px 0px 1px 0px gray;
}

.hero-button a {
    color: white;
}

.hero-button a:hover {
    color: white;
    background-color: #799E61;
}

.hero-button:hover {
    background-color: #799E61;
}

.all-articles {
    width: 100%;
}

.latest-popular-index-filter {
    display: flex;
}

.latest-popular-index-filter a, .latest-popular-index-filter a:hover {
    text-decoration: none;
}

@media screen and (max-width: 753px) {
    .latest-popular-index-filter {
        display: none;
    }
}

.latest-popular-btn {
    color: #333333;
    border: 1px solid #61799E;
    border-radius: 7px;
    padding: 7px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.latest-popular-btn:hover {
    background-color: #61799E;
    color: white;
}

@media only screen and (max-width: 768px) { 
   .gallery-article-mobile {
    justify-content: space-evenly !important;
   }

   .article-body-mobile {
       display: none;
   }

   .article-info-mobile {
       flex-direction: column;
   }

   .article-comment-like-container {
    margin-left: 0;
   }

   .comment-dots-mobile {
       margin-left: 0px;
   }
}


// Full single article with body
.full-article-container {
    text-align: left;
    width: 100%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px lightgrey;
    border: 1px solid #eeeeee;
    padding: 30px;
    background-color: white;
}

.full-article-info-settings {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;
}

.full-article-img-info {
    display: flex;
    align-items: center;
}

.full-article-user-img {
    height: 50px;
    width: 50px;
    background-color: gray;
    border-radius: 50px;
}

[data-letters]:before {
    content:attr(data-letters);
    display:inline-block;
    font-size: 30px;
    height: 50px;
    width: 50px;
    line-height:1.7em;
    text-align:center;
    border-radius:50%;
    background:gray;
    vertical-align:middle;
    color:white;
}

[data-index-initial]:before {
    content:attr(data-index-initial);
    display:inline-block;
    font-size: 12px;
    height: 22px;
    width: 22px;
    line-height:2em;
    text-align:center;
    border-radius:50%;
    background:gray;
    vertical-align:middle;
    color:white;
}

.full-article-info {
    margin-left: 10px;
}

.full-article-time {
    color: gray;
}

.full-article-settings {
    display: flex;
    align-items: center;
}


.full-article-delete {
    color: red;
    margin-left: 10px;
}

.edit-article:hover {
    text-decoration: none;
}

.delete-article {
    background-color: #f9f9f9;
    font-size: 14px;
    border: none;
    padding: 8px 6px;
    color: #000000;
}

.delete-article:hover {
    background-color: #DDDDDD;
    border-radius: 7px;
    text-decoration: none;
}

.full-article-body {
    font-size: 17px;
    overflow-wrap: break-word;
    margin-bottom: 40px;
}

.full-article-body::first-letter {
    font-size: 40px;
}

.comments-likes-report-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 520px) {
    .comments-likes-report-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .likes-comments-section {
        margin-bottom: 25px;
    }
}

.likes-comments-section {
    display: flex;
}

.likes-section {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 20px;
}

.article-reactions-btn {
    cursor: pointer;
    margin-right: 5px;
    padding: 7px;
}

.article-reactions-btn:hover {
    background-color: #DDDDDD;
    border-radius: 7px;
}

.comments-section {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.report-section {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.favorites-section, .share-section, .more-section {
    padding: 7px;
    font-size: 17px;
}

.favorites-section:hover, .share-section:hover, .more-section:hover {
    background-color: #DDDDDD;
    border-radius: 7px;
}

.favorites-section a, .favorites-section a:hover {
    color: #333333;
}

.fa-solid.fa-star::before {
    color: #d58b2f;
}

.favorite-article-btn {
    background-color: inherit;
    border: none;
}

.favorite-article-btn:focus {
    outline: 0;
}


// more section dropdown

.more-section {
    cursor: pointer;
}

.dropbtn-more-section {
    font-size: 17px;
    cursor: pointer;
}
  
.dropdown-more-section {
    position: relative;
    display: inline-block;
}
  
.dropdown-content-more-section {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 7px;
    padding-top: 15px;
}
  
.dropdown-content-more-section a {
    color: #000000;
    padding: 8px 6px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    text-align: center;
}

#copyArticleLink, .dropdown-item {
    color: #000000 !important;
    margin-bottom: 15px;
}

#copyArticleLink:hover, .dropdown-item:hover {
    cursor: pointer;
}
  
.dropdown-content-more-section a:hover {
    background-color: #DDDDDD;
    border-radius: 7px;
    color: #000000;
}
  
.dropdown-more-section:hover .dropdown-content-more-section {
    display: block;
}

// Modal / Dialog box

.modal.fade .modal-bottom,
 .modal.fade .modal-left,
 .modal.fade .modal-right,
 .modal.fade .modal-top {
     position: fixed;
     z-index: 1055;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: 0;
     max-width: 100%
 }

 .modal.fade .modal-right {
    width: 400px;
    left: auto !important;
    transform: translate3d(100%, 0, 0);
    transition: transform .3s cubic-bezier(.25, .8, .25, 1)
 }

 .modal.fade.show .modal-bottom,
 .modal.fade.show .modal-left,
 .modal.fade.show .modal-right,
 .modal.fade.show .modal-top {
    transform: translate3d(0, 0, 0);
    width: 400px;
 }

 .modal-content,
 .modal-footer,
 .modal-header {
    border: none !important;
    border-radius: 0 !important;
 }

 .modal-content {
    overflow: auto;
    font-size: 15px;
    cursor: auto;
    background-color: #f6f6f6 !important;
 }

 .modal-title {
     font-size: 20px;
     font-weight: bold;
 }

 .close {
    position: relative;
    bottom: 10px;
 }

 .modal-comment-form {
     text-align: start;
 }

 .h-100 {
    height: 100% !important
 }

 .btn-light {
    color: #212529;
    background-color: #f5f5f6;
    border-color: #f5f5f6
 }

 .btn-light:hover {
    color: #212529;
    background-color: #e1e1e4;
    border-color: #dadade
 }


// Article form

.article-title-area {
   margin-top: 5px;
}

.article-input-title, .article-input-body {
    border: none;
    box-shadow: lightgrey 2px 2px 5px;
}

.article-input-title {
    font-size: 2em;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: -25px;
}

.article-input-body {
    font-size: 1.1em;
    display: block;
    overflow: hidden;
    resize: none;
    padding: 10px;
    border-radius: 10px;
}

.publish-article {
    width: 100px;
}

.publish-article .btn {
    color: #f2f2f2;
    background-color: #61799E;
}

.publish-article .btn:hover {
    background-color: #799E61;
    color: #f2f2f2;
}
.publish-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cancel-publish-article {
    margin-right: 10px;
    cursor: pointer;
    color: #000000;
}

.cancel-publish-article:hover {
    color: gray;
    text-decoration: none;
}

// Landing page

.landing-page-container {
    background-color: lightgreen;
    height: 40vh;
    width: 100%;
}

.landing-page-main-slogan {
    font-size: 3vh;
    font-weight: 500;
    width: 40vw;
    position: relative;
    top: 7vh;
}

@media screen and (max-width: 510px) {
    .full-article-container {
        width: 100%;
    }
}