// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Comment form
.comment-form-input {
    min-height: 40px;
    overflow: hidden;
    margin-left: 40px;
}


.commenter-info {
    margin: 12px;
    display: flex;
    align-items: center;
    cursor: default;
}

.comment-textarea {
    resize: none;
    border: 1px solid #DDDDDD;
    padding: 10px;
    font-size: 15px;
    height: 40px;
    overflow: hidden;
}

.expanded {
    background-color: white;
}

.comment-form-close-save-btns {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    width: 91%;
}

.read-expand-reply-btns {
    display: inline-block;
    width: 100%;
}

.comment-reply-btn {
    float: right;
    color: #7a98c5;
    cursor: pointer;
}

.comment-reply-btn:hover {
    color: #393939;
}

.open-post-comment-reply {
    display: block;
}

.close-comment-btn {
    cursor: pointer;
}

.close-comment-btn:hover {
    color: rgba(61, 61, 61, 1);;
}

.post-comment-btn {
    width: fit-content;
    padding: 5px 8px;
    background-color: #2965BC;
    margin-left: 10px;
    color: #FFF;
    text-transform: uppercase;
}

.post-comment-btn:focus {
    outline: none;
}

.post-comment-btn:hover {
    background-color: #3075dc;
    color: white;
}

.filter-comments {
    position: relative;
    top: 40px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 12px;
}

// Posted comment box

.user-comment-subcontainer {
    display: inline;
}

.user-comment-container {
    display: inline;
}

.user-blob-img {
    float: left;
    margin-right: 7px;
}

.user-comment-info-settings-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    background-color: white;
}

.user-comment-info-settings-subcontainer {
    display: inline-block;
    width: 100%;
}

.reply-comment-guide {
    border-left: 3px solid #61799e;
    height: 115px;
    width: 5px;
}

.user-blob-comment-guide-container {
    float: left; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}

.user-comment-img-info {
    display: flex;
    align-items: center;
}

.user-comment-info {
    float: left;
}

.user-comment-username {
    display: flex;
}

.is-author {
    margin-left: 3px;
    color: rgb(66, 142, 0);
    font-size: 1.25rem;
    align-self: center;
}

.is-author-icon:hover {
    color: rgb(69, 186, 19);
}

[data-comment-initial]:before {
    content:attr(data-comment-initial);
    display:inline-block;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 2em;
    text-align:center;
    border-radius:50%;
    background:#61799E;
    vertical-align:middle;
    color:white;
}

.user-comment-time {
    color: gray;
    font-size: 12px;
}

.user-comment-settings {
    float: right;
}

.user-comment-delete {
    margin-left: 10px;
}

.user-comment-body {
    margin-top: 10px;
}

.small-comment {
    height: 30px;
    overflow: hidden;
    overflow-wrap: break-word;
}
.big-comment {
    height: auto;
    overflow-wrap: break-word;
}

.read-more {
    color: #7a98c5;
    cursor: pointer;
    float: left;
}

.read-more:hover {
    color: #61799E;
}

.comment-likes-section {
    font-size: 15px;
    width: auto;
    display: flex;
    align-items: baseline;
    margin-left: 40px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.comment-likes-icon-counter {
    display: flex;
    align-items: baseline;
}

.comment-reply-counter {
    font-size: 14px;
}

.comment-reply-counter-icon {
    margin-left: 3px;
}

.comment-like-counter {
    font-size:14px;
}

.line-between-comments:last-child {
    display: none;
}

.no-comment {
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.back-to-article-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.comment-textarea-edit-article {
    resize: none;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    border: none;
    box-shadow: lightgrey 2px 2px 5px;
    width: 90%;
}

// Comment Replies
.recursive-replies-container:not(:first-child) {
    margin-left: 30px;
    display: none;
}