.nav-login-btn {
    padding: 7px;
    color: #2965BC;
    font-weight: 600;
}

.nav-signup-btn {
    padding: 7px;
    color: #FFF;
    background-color: #2965BC;
    font-weight: 600;
}

.nav-login-btn:hover {
    text-decoration: none;
    color: #3075dc;
}

.nav-signup-btn:hover {
    text-decoration: none;
    background-color: #3075dc;
    color: white;
}

@media screen and(max-width: 1200px) {
    .nav-login-btns {
        margin-right: 20px;
    }
}