.mobile-nav-container {
    display: none;
}

.mobile-nav-container-visible {
    display: block;
    background: rgb(243,248,255);
    background: linear-gradient(0deg, rgba(243,248,255,1) 0%, rgba(255,255,255,1) 100%);
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 55px;
    left: 0;
    animation: dropDownMobileMenu 300ms linear;
}

@keyframes dropDownMobileMenu {
    0% {
        height: 0vh;
    }
    100% {
        height: 100vh;
    }
}

.mobile-logo {
    font-size: 1.7em;
    color: #2965BC;
    text-transform: uppercase;
    font-weight: bold;
}

.mobile-logo:hover {
    text-decoration: none;
    color: #2965BC;
}

@media screen and (min-width: 835px) {
    .mobile-nav-container-visible, .mobile-logo {
        display: none;
    }
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 100%;
    animation: dropDownMenuFadeIn 300ms linear;
}

@keyframes dropDownMenuFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mobile-nav-btn {
    font-size: 1.7rem;
    color: #393939;
    padding: 7px;
    border-bottom: 3px solid transparent;
    width: 100%;
    text-align: center;
}

.mobile-nav-btn:hover {
    text-decoration: none;
    color: #393939;
    border-bottom: 3px solid #cfcfcf;
}

.mobile-nav-btn-login {
    border: 1px solid #DDDDDD;
    width: 100%;
    text-align: center;
    padding: 7px;
    font-size: 1.7rem;
    color: #393939;
    border-radius: 5px;
}

.mobile-nav-btn-login:hover {
    background-color: #f9f9f9;
    text-decoration: none;
    color: #393939;
}

.mobile-nav-btn-signup {
    border: 1px solid #DDDDDD;
    width: 100%;
    text-align: center;
    padding: 7px;
    font-size: 1.7rem;
    color: #FFF;
    background-color: #2965BC;
    border-radius: 5px;
}

.mobile-nav-btn-signup:hover {
    background-color: #23527c;
    text-decoration: none;
    color: #FFF;
}