.user-profile-logo-name {
    display: flex;
    font-size: 1rem;
    align-items: center;
}

.user-profile-name-member-since {
    margin-left: 10px;
}

.user-profile-name {
    margin-bottom: 15px;
    display: inline;
    line-height: 1;
}

.user-profile-member-since {
    font-size: 1.5rem;
}