.sidenav-container {
    width: 150px;
    height: fit-content;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid #eeeeee;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 3px 0px lightgrey;
}

.sidenav-container a:hover {
    text-decoration: none;
}

.sidenav-container a .nav-link:hover {
    text-decoration: none;
}

@media screen and (max-width:753px) {
    .sidenav-container {
        display: none;
    }
}