.side-content-container {
    width: 250px;
    margin-left: 20px;
    border-radius: 10px;
}

.side-login-signup {
    background-color: white;
    padding: 10px;
}

.sidecontent-title {
    font-size: 1.75rem;
    font-weight: 600;
}

.side-notifications-container {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
}

.side-notifications-title {
    font-weight: 600;
    font-size: 1.75rem;
}

.side-notifications-body {
    margin-top: 20px;
}

.sidecontent-signup-login-btn-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidecontent-signup-login-btn {
    background-color: #2965BC;
    padding: 7px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #FFF;
}

.sidecontent-signup-login-btn:hover {
    text-decoration: none;
    color: #FFF;
    background-color: #3075dc;
}


@media screen and (max-width:753px) {
    .side-content-container {
        display: none;
    }
}