// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// sidebar

aside {
    section.user-info {
      display: flex;
      align-items: center;
      margin-top: 20px;
    }
    section {
      padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
      }
    }
  }
  
  .gravatar {
    float: left;
    margin-right: 10px;
  }
  
  .gravatar_edit {
    margin-top: 15px;
  }

  .user-name-profile {
    margin-left: 10px;
  }

  [data-profile-initial]:before {
    content:attr(data-profile-initial);
    display:inline-block;
    font-size: 30px;
    height: 50px;
    width: 50px;
    line-height:1.7em;
    text-align:center;
    border-radius:50%;
    background:#2965BC;
    vertical-align:middle;
    color:white;
}

// Settings Page

  .save-settings-btn {
    background-color: #2965BC;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 0px;
  }

  .save-settings-btn:hover {
    background-color: #3075dc;
    color: #f2f2f2;
  }
  
  .danger-zone {
      margin-top: 50px;
      border: 1px solid #cccccc;
      padding: 15px;
      border-radius: 5px;
  }

  .danger-zone-items {
      display: flex;
      flex-direction: column;
      align-items: stretch;
  }

  .delete-user-btn-container {
    background-color: #df1465;
    color: #f2f2f2;
    height: 40px;
  }

  #delete-user-button {
      width: auto;
  }

  .delete-user-btn {
      color: white;
      background-color: inherit;
      border: none;
      font-size: 14px;
      text-transform: uppercase;
  }

  .delete-user-btn-container:hover {
    background-color: #fb1873;
  }
  
  .delete-user-btn:link {
    color: white;
    text-decoration: none;
}

// Login page

.to-login-page {
  display:flex; 
  align-items:center; 
  color: #333333;
  font-size: 1.1em;
  line-height: 1.7em;
  margin-top: 20px;
}

.to-login-page .nav-link {
  color:#2965BC;
  margin-left: 10px;
  border-bottom: none;
}

.to-login-page .nav-link:hover {
  background-color: inherit;
  border-bottom: none;
}

.sign-up-now-btn {
  margin-left: 10px;
  color: #2965BC;
}

.sign-up-now-btn:hover {
  text-decoration: none;
  color: #2965BC;
}

// Show user articles

.show-user-articles-metrics {
  display: flex;
}

.favorites-count {
  margin-bottom: 10px;
  margin-right: 10px;
  width: fit-content;
  padding: 5px;
  border-radius: 7px;
}

.user-profile-blob {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.user-gen-blob {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.edit-user-blob {
  margin-bottom: 10px;
}

.profile-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.delete-profile-img {
  border: none;
  width: fit-content;
  background-color: inherit;
  position: absolute;
  padding: 0px 5px;
  transform: translate(60px, -5px);
  // display: none;
}

.delete-profile-img:hover {
  border-radius: 5px;
  background-color: #DDDDDD;
}