// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// sidebar

aside {
    section.user-info {
      display: flex;
      align-items: center;
      margin-top: 20px;
    }
    section {
      padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
      }
    }
  }
  
  .gravatar {
    float: left;
    margin-right: 10px;
  }
  
  .gravatar_edit {
    margin-top: 15px;
  }

  .user-name-profile {
    margin-left: 10px;
  }

  [data-profile-initial]:before {
    content:attr(data-profile-initial);
    display:inline-block;
    font-size: 30px;
    height: 50px;
    width: 50px;
    line-height:1.7em;
    text-align:center;
    border-radius:50%;
    background:gray;
    vertical-align:middle;
    color:white;
}

  .danger-zone {
      margin-top: 50px;
      border: 1px solid rgb(161, 151, 151);
      border-radius: 10px;
      padding: 15px;
  }

  .danger-zone-items {
      display: flex;
      justify-content: space-between;
  }

  #delete-user-button {
      color: white;
      width: auto;
  }

  .delete-user-btn {
      color: white;
  }
  
  .delete-user-btn:link {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .danger-zone-items {
    flex-direction: column;
  }
}

// Login page

.to-login-page {
  display:flex; 
  align-items:center; 
  color: #333333;
  font-size: 1.1em;
  line-height: 1.7em;
}