<div class="text-formater-container">
    <button onclick="insertRedCarpetChars('**','**');" title="Bold"><strong>B</strong></button>
    <button onclick="insertRedCarpetChars('*', '*');" title="Italic"><em>I</em></button>
    <button onclick="insertRedCarpetChars('_', '_');" title="Underline"><u>U</u></button>
    <button onclick="insertRedCarpetChars('~~', '~~');" title="Strikethrough" style="text-decoration: line-through;"><div>S</div></button>
    <button onclick="insertRedCarpetChars('&quot;', '&quot;');" title="Quotes"><div>""</div></button>
    <button onclick="insertRedCarpetChars('&bull;', '');" title="Bulletpoint"><div>&bull;</div></button>
    <button onclick="insertRedCarpetChars('==', '==');" title="Highlight" style="background: #fcf8e3;"><div>H</div></button>
    <button onclick="insertRedCarpetChars('`', '`');" title="Code Block" style="width: 25px;"><div>&lt;/&gt;</div></button>
    <button onclick="insertRedCarpetChars('&gt;', '');" title="Indent" style="width: 25px;"><div><i class="fa fa-indent" aria-hidden="true"></i></div></button>
    <button onclick="insertRedCarpetChars('###', '');" title="Subtitle"><div>h2</div></button>
</div>

<script>
    // Insert characters for styling text in RedCarpet Markdown
    function insertRedCarpetChars(insertBefore, insertAfter) {
        const isTwoArguments = arguments.length > 1;
        const selStart = textarea.selectionStart;
        const selEnd = textarea.selectionEnd; 
        const prevText = textarea.value;
        textarea.value = prevText.substring(0, selStart) + (isTwoArguments ? insertBefore + prevText.substring(selStart, selEnd) + insertAfter : insertBefore) + prevText.substring(selEnd);
        textarea.setSelectionRange(isTwoArguments || selStart === selEnd ? selStart + insertBefore.length : selStart, (isTwoArguments ? selEnd : selStart) + insertBefore.length);
        textarea.focus();
    }
</script>

<style>
    .text-formater-container {
        position: relative;
        top: 77px;
        text-align-last: center;
    }
    .text-formater-container > *  {
        border: 1px solid #d2d2d2;
        border-radius: 5px;
        padding: 2px;
        font-size: 12px;
        margin-right: 5px;
        box-shadow: #9a9a9a 1px 0px 2px 0px;
        width: 20px;
    }

    .text-formater-container > *:focus {
        outline-style: none;
    }

    @media screen and (max-width: 452px) {
        .text-formater-container {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
        }
    }
</style>